<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e690dd3d-4a22-4caf-b442-888c36ce4b5f/resourcegroups/CMPG323/providers/Microsoft.Web/sites/ConnectedOfficeProject2API</ResourceId>
    <ResourceGroup>CMPG323</ResourceGroup>
    <ApiResourceId>/subscriptions/e690dd3d-4a22-4caf-b442-888c36ce4b5f/resourceGroups/CMPG323/providers/Microsoft.ApiManagement/service/CMPG3233-ProjectAPI/apis/connectedofficeapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://connectedofficeproject2api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>db149595-c8bc-4e94-b9ea-c1c86daff013</ProjectGuid>
    <MSDeployServiceURL>connectedofficeproject2api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ConnectedOfficeProject2API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ConnectedOfficeProject2API</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>